.card-game-sale {
    display: flex;
    flex-direction: column;
    height: 21rem;
    justify-content: space-around;
}

.card-game-sale>img {
    height: 15rem;
    width: 15rem;
}

.add-card {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: rgb(46, 45, 45);
    color: white;
    align-items: center;
    font-weight: 500;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
}

.over {
    font-family: 'Roboto', 'sans-serid]f';
    padding: 7px 0 0 7px;
    box-sizing: border-box;
    height: 2rem;
    background: rgb(245, 246, 249);
    background: linear-gradient(90deg, rgba(245, 246, 249, 1) 0%, rgba(254, 251, 254, 0.036852240896358524) 72%);
}