<div class="informations-div">
  <header>
    <h2>The Last of Us</h2>
    <span>Overview</span>
  </header>
  <hr />
  <div>
    <ul class="list-classification">
      <li><img src="../../../assets/PS4™.png" alt="" /></li>
      <li>Level</li>
      <li>50GB</li>
      <li>08.06.2019</li>
      <li><img src="../../../assets/Rating.png" alt="" /></li>
      <li>Sony Interactive</li>
    </ul>
  </div>
  <div class="box-description">
    <p class="description">
      Set in the post-apocalyptic United States, the game tells the story of
      survivors Joel and Ellie as they work together to survive their westward
      journey across what remains of the country to find a possible cure for the
      modern fungal plague that has nearly...
    </p>
    <img class="trailer" src="../../../assets/Trailer.png" alt="" />
  </div>
</div>
